.packets {
    position: relative;
    padding: 50px 0;

    &::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: 10%;
        width: 102px;
        height: 102px;
        opacity: 0.88;
        z-index: -1;
        border-radius: 50%;
        transform: translateX(-50%);
        background: #D67F33;
        filter: blur(75px);
        animation: aniScell 5s infinite;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .packets-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 350px;
        background: #133669;
        border-radius: 10px;
        padding: 20px 20px 30px 20px;

        &__price {
            font-weight: 900;
            font-size: 30px;
            line-height: 37px;
            text-transform: uppercase;
        }

        &__date {
            margin: 14px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

        &__title {
            font-weight: 700;
            font-size: 35px;
            line-height: 43px;
            text-transform: uppercase;
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin: 13px 0;
        }

        &__list {
            &-item {
                position: relative;
                padding-left: 30px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;

                &:after {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    top: 0px;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    background: radial-gradient(68.81% 68.81% at 66.31% 32.85%, #FFC490 0%, #F0903B 60.07%, #D67F33 100%);
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 7px;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background: #fff;
                    transform: translateY(15px);
                }


                &:last-child {
                    &::before {
                        display: none;
                    }
                }

                &--pt {
                    margin-bottom: 50px;

                    &::before {
                        height: 300%;
                    }
                }

                &--plus {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 47px;
                        height: 47px;
                        background-image: url('@img/packets-plus.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        transform: translateY(-100%);
                    }
                }

                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    font-weight: 700;
                }
            }

            &-item+.packets-box__list-item {
                margin-top: 10px;
            }
        }

        &__footer {
            margin-top: 35px;
        }

        &__btn {
            margin: 0 auto;
        }


        &:nth-child(1) {
            .packets-box__btn {
                background: #fff;
                color: #101E32;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background: #D67F33;
                    box-shadow: none;
                }
            }
        }

        &:nth-child(2) {
            background: #0430B4;

            .packets-box__btn {
                background: #fff;
                color: #101E32;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background: #D67F33;
                    box-shadow: none;
                }
            }
        }

        &:nth-child(3) {
            background: #D67F33;
            color: #fff;

            .packets-box__list-item:after {
                background: radial-gradient(68.81% 68.81% at 66.31% 32.85%, #5E86FF 0%, #1348E6 60.07%, #0430B4 100%);
            }

            .packets-box__list-item::before {
                background: #929292;
            }

            .packets-box__btn {
                background: #fff;
                color: #101E32;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background: #0430B4;

                    box-shadow: none;
                }
            }

            .packets-box__list-item--plus::after {
                background-image: url(../img/packets-plus-b.svg);
            }
        }
    }
}



@media screen and (max-width: 992px) {
    .packets {
        padding: 25px 0;

        &__title {
            margin-bottom: 25px;
        }

        &__wrapper {
            flex-direction: column;
            gap: 15px;
        }

        .packets-box {
            padding: 18px 15px 16px 15px;
            max-width: 100%;

            &__title {
                font-size: 20px;
            }
        }
    }
}