.pass-meeting {
    padding: 50px 0;

    &__title {
        max-width: 350px;
    }

    &__wrapper {
        margin-top: 110px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 100%;
        max-width: 360px;


        .list {

            &__item {
                position: relative;
                padding-left: 35px;

                &-title {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 14px;
                }

                &-desc {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                }


                &::before {
                    content: "";
                    position: absolute;
                    left: 13px;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background: #fff;
                    transform: translateY(28px);
                }

                &::after {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    top: 0px;
                    left: 0;
                    width: 26px;
                    height: 26px;
                    background: radial-gradient(68.81% 68.81% at 66.31% 32.85%, #FFC490 0%, #F0903B 60.07%, #D67F33 100%);
                }

                &:last-child {
                    &::before {
                        display: none;
                    }
                }

            }


            &__item+.list__item {
                margin-top: 30px;
            }

        }


    }

    &__picture {
        position: relative;
        width: 100%;
        max-width: 530px;

        &-time {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;

            &::after {
                content: '';
                position: absolute;
                right: 0%;
                top: 0%;
                width: 172px;
                height: 172px;
                opacity: 0.88;
                z-index: -1;
                border-radius: 50%;
                transform: translateX(-50%);
                background: #D67F33;
                animation: aniScell 5s infinite;
                filter: blur(75px);
            }

        }

        &-social {
            position: absolute;
            bottom: 40%;
            left: -10%;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;

            &::after {
                content: '';
                position: absolute;
                right: 0%;
                top: 0%;
                width: 142px;
                height: 142px;
                opacity: 0.88;
                z-index: -1;
                border-radius: 50%;
                background: #446DA9;
                filter: blur(75px);
                animation: aniScell 5s infinite;
            }
        }

        &-img {
            display: block;
            width: 100%;
        }
    }

    .btn-more {
        margin: 30px 0 0 30px;
    }
}



@media screen and (max-width: 992px) {
    .pass-meeting {
        padding: 25px 0;

        &__wrapper {
            margin-top: 25px;
            flex-direction: column-reverse;
        }

        &__picture {
            margin-bottom: 50px;

            &-img {
                width: 80%;
                margin: 15px auto 5px;
            }

            &-time {
                font-size: 16px;
            }

            &-social {
                bottom: 0;
                left: 0;
                font-size: 16px;
                transform: translateY(90%);
            }
        }

        &__content {
            .list {
                &__item {
                    padding-left: 25px;

                    &-title {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    &::after {
                        top: 6px;
                        width: 13px;
                        height: 12px;
                    }

                    &::before {
                        top: -8px;
                        left: 6px;
                        height: 123%;
                    }

                    &:nth-child(2) {

                        margin-top: 15px;

                        .list__item-desc {
                            display: none;
                        }
                    }

                    &:nth-child(3) {

                        margin-top: 0;

                        .list__item-desc {
                            display: none;
                        }
                    }

                    &:nth-child(4) {

                        margin-top: 0;

                        .list__item-desc {
                            display: none;
                        }
                    }
                }
            }
        }

        .btn-more {
            margin: 15px auto 0px;
        }
    }
}