.promo {
  position: relative;
  padding: 60px 0 140px;
  // background-image: url('@img/bg.jpg');
  // background-position: right;
  // background-size: cover;
  // background-repeat: no-repeat;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background-image: url('@img/promo_decoration.png');
    background-position: right top;
    background-size: cover;
  }
  
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-image: url('@img/promo_racets.png');
    background-position: right ;
    background-repeat: no-repeat;
    background-size: contain;
        animation: moveImage 8s ease-in-out infinite;

    z-index: 23;
  }
  

  .content {
    position: relative;
    width: 100%;
    max-width: 500px;
    text-align: center;
    z-index: 30;

    &__subtitle {
      color: #29375A;
      font-size: 42px;
      font-weight: 700;
      line-height: 128%;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .title {
      &__img {
        display: block;
        width: 100%;
        margin-bottom: 45px;
      }
    }

    &__btn {
      position: relative;


      button {
        border: none;
        cursor: pointer;
        transition: all 0.6s;
        box-shadow: 0 0 0 #ADFF00;

          &:hover {
          box-shadow: 0 4px 8px #ADFF00;
        }
      }

      .more-info {
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        display: none;

        transform: translateX(50%);

        &::after {
          top: 15%;
          left: 0;
          transform: translate(-70%, -1%) rotate(270deg);
        }
      }

      .more-info.active {
        display: block;
      }
    }

    .social {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      width: 100%;
      max-width: 184px;
      margin: 0 auto;

      &__link {
        display: block;
        width: 100%;
        max-width: 40px;


        &-icon {
          display: block;
          width: 100%;
          cursor: pointer;
          box-shadow: 0 0 0 #333;
          transition: all 0.6s;
          border-radius: 50%;

        &:hover {
          box-shadow: 0 4px 8px #33333391;
        }
        }
      }
    }
  }
}

@keyframes moveImage {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(3px); /* Двигаем картинку вправо на 3 пикселя */
           opacity: .8;
    }
    50% {
        transform: translateX(0);
           opacity: 1;
    }
    75% {
        transform: translateX(-3px); /* Двигаем картинку влево на 3 пикселя */
           opacity: .8;
    }
    100% {
        transform: translateX(0);
           opacity: 1;
    }
}


@media screen and (max-width: 992px) {
  .promo {
    padding: 40px 0 300px;

    .content {
      margin: 0 auto;
    }


  &::after {
    height: 40%;
  }
  
  &::before {
    width: 70%;
    height: 60%;
  }
  }
}



@media screen and (max-width: 568px) {
  .promo {
    padding: 40px 0 300px;

    .content {
      margin: 0 auto;

      &__subtitle {
        font-size: 32px;
        margin-bottom: 16px;
      }



      .more-info {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: none;
        transform: translateX(50%);

        transform: translate(50%, 40%);
 
        &::after {
              top: -2%;
            left: 40%;
          transform: translate(2%, 0%) rotate(0);
        }
      }

    }


    &::after {
      background-image: url('@img/promo_bg-mobail.png');
      background-size: cover;
      background-position: top;
      width: 100%;
      height: 300px;
      background-repeat: no-repeat;
    }
  
    &::before {
    display: none;
    }
  }
}