.footer {
  background: #07193A;
  padding: 40px 0;
  color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .nav-footer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    max-width: 545px;

    &__item {
      &-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 130%; 
        margin-bottom: 12px;
      }

      &-link {
        display: block;
        color: rgba(255, 255, 255, 0.60);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 133%; /* 133.333% */
        transition: all 0.5s;

        &:hover {
          color: #fff;
        }
      }

       &-link + .nav-footer__item-link {
        margin-top: 8px;
       }
    }
  }

  .social {
    display: flex;
    gap: 12px;

    &__link {
      display: block;
      width: 100%;
      max-width: 32px;
      opacity: 0.6;
      transition: all 0.6s;

      &-icon {
        display: block;
        width: 100%;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}




@media screen and (max-width: 768px) {
.footer {


  .nav-footer {
    max-width: 400px;


  }

}
}



@media screen and (max-width: 568px) {
.footer {
  padding: 50px 0 72px;

  &__wrapper {
    flex-direction: column-reverse;
  }

  .nav-footer {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .social {
    margin: 0 auto 40px;
  }

}
}