.header {
  padding: 10px 0;
  background: #2a58ce;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    max-width: 1268px;
  }

  .burger {
    display: none;
  }

  .logo {
    display: block;
    width: 100%;
    max-width: 174px;

    &__img {
      display: block;
      width: 100%;
    }
  }

  .navigarion {
    &__top {
      display: none;
    }

    .lange {
      display: none;
    }

    .menu-list {
      display: flex;
      gap: 20px;
      color: #fff;

      &__item {
        &-link {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 114%;
        }
      }
    }
  }

  .lang-sing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 258px;

    .lange {
      width: 100%;
      max-width: 40px;
      &__icon {
        display: block;
        width: 100%;
        border-radius:3px;
      }
    }

    .registration {
      display: flex;
      gap: 6px;

      &__item {
        position: relative;

        &:nth-child(2) {
          .more-info {
            left: auto;
            right: 0;

            &::after {
              left: auto;
              right: 20%;
            }
          }
        }
      }

      .more-info {
        position: absolute;
        display: none;
        width: 173px;
        z-index: 125;
        transform: translate(0px, 10%);
      }

      .more-info.active {
        display: block;
      }

      button {
        font-family: "Poppins", sans-serif;
        padding: 14px 19px 14px 20px;
        border-radius: 8px;
        border: 1px solid #adff00;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 133%;
      }

      button.registration-singIn {
        color: #adff00;
        background: none;
        cursor: pointer;
      }
      button.registration-singUp {
        color: #1e1e28;
        background: #adff00;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    .container {
      padding: 0 15px;
    }

    .burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20px;
      height: 16px;
      cursor: pointer;

      &__line {
        width: 100%;
        height: 2px;
        background: #fff;
        border-radius: 2px;

        &:nth-child(3) {
          width: 80%;
        }
      }
    }

    .logo {
      max-width: 100px;
    }

    .navigarion {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #f8f9fb;
      z-index: 999;
      transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
      opacity: 0;
      transform: translateX(-100%);

      .lange {
        display: block;
        margin: 90% auto 0;
        width: fit-content;
      }

      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #2a58ce;
        padding: 8px 8px 8px 16px;
      }

      &__text {
        color: #fff;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 110%; /* 116.667% */
        text-transform: uppercase;
      }

      &__close {
        display: block;
        width: 100%;
        max-width: 40px;
      }

      .menu-list {
        color: #29375a;
        flex-direction: column;
        text-align: center;
        margin-top: 26px;
        gap: 20px;

        &__item {
          &-link {
            color: #29375a;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 140% */
          }
        }
      }
    }

    .navigarion.active {
      transform: translate(0);
            opacity: 1;
    }

    .lang-sing {
      max-width: 174px;

      .lange {
        display: none;
      }
    }
  }
}
