@import "reset";
@import "header.scss";

@import "section/promo.scss";
@import "section/events.scss";
@import "section/brands.scss";
@import "section/advantages.scss";
@import "section/commissions.scss";
@import "section/review.scss";
@import "section/faq.scss";
@import "section/contact.scss";

@import "section/testimonials.scss";
@import "section/brand-card.scss";

@import "footer.scss";




.more-info {
  position: relative;
  width: 100%;
  max-width: 182px;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  background: #2A58CE;

  // max-height: 0;
  // overflow: hidden;

  &::after {
    position: absolute;
    content:'';
    width: 10px;
    height: 4px;
    top: 0;
    left: 20%;
    background-image: url('@img/drop-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-100%);
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #FFF;
    cursor: pointer;

    transition: all 0.6s;

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }

    &-logo {
      display: block;
    }
  }

  .hint-description {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: 160%; 
    color: #fff;
    padding: 8px 12px 12px 8px;
    border-radius: 8px;
    background: #2C427A;
    transform: translate(-18%, 10%);

    &__close {
      position: absolute;
      right: 6px;
      top: 6px;
    }
  }

  .hint-description.active {
    display: block;
  }

  .hint-button {
    position: absolute;
    display: block;
    right: 4px;
    top: 4px;
    z-index: 232;
    // pointer-events: none
  }

  .more-info__item + &__item {
    margin-top: 8px;
  }
}

.swiper-button-next-custom {
  position: absolute;
  right: -2%;
  top: 50%;
  transform: translateX(0%) rotate(180deg);
  z-index: 999;
  cursor: pointer;
}

.swiper-button-prev-custom {
  position: absolute;
  left: -2%;
  top: 50%;
  transform: translateX(0%) ;
  z-index: 999;
  cursor: pointer;
}





.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader--hide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}


:root {
  --hue: 18;
  --bg: hsl(var(--hue),90%,90%);
  --fg: hsl(var(--hue),90%,10%);
  --primary: hsl(var(--hue),90%,50%);
  --trans-dur: 0.3s;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
}

.pl {
  $dur: 2s;
  margin: auto;
  width: 8em;
  height: 8em;
  &__line,
  &__line-g,
  &__lines {
    animation: lineRotate $dur ease-in-out infinite;
  }
  &__line {
    animation-name: lineMove;
    animation-timing-function: ease-in;
  }
  &__line-g {
    animation-name: lineFade;
    animation-timing-function: linear;
  }
  @for $l from 2 through 12 {
    &__line-g:nth-child(#{$l}),
    &__line-g:nth-child(#{$l}) &__line {
      animation-delay: calc(($dur / 2) / 12 * $l);
    }
  }
  &__lines {
    transform-origin: 64px 64px;
  }
  &__layer &__lines {
    stroke: #ADFF00;
  }
  &__layer + &__layer &__lines {
    stroke: #2A58CE;
  }
}/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),90%,10%);
    --fg: hsl(var(--hue),90%,90%);
  }
};


/* Animations */
@keyframes lineRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(0.5turn);
  }
}

@keyframes lineFade {
  from,
  50%,
  to {
    opacity: 0;
  }
  10%,
  45% {
    opacity: 1;
  }
}

@keyframes lineMove {
  from {
    stroke-dashoffset: -32;
  }
  50%,
  to {
    stroke-dashoffset: 32;
  }
};


.masseg-status {
  position: fixed;
  right: 0;
  top: 0;
  width: 280px;
  height: auto;
  padding: 15px 20px;
  background: #fff;
  border-bottom: 1px solid #2a58ce;
  border-left: 1px solid #2a58ce;
  border-bottom-left-radius: 5px;
  transform: translateY(-100%);
  transition: all .5s;
  font-size: 14px;
}

.masseg-status.active {
    transform: translateY(0%);

}