.benefits-autor {
    padding: 55px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .benefits-content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        max-width: 450px;

        &__item {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 215px;
            background: #d9d9d931;

            &-title {
                font-weight: 700;
                font-size: 46px;
                line-height: 100%;
                text-transform: uppercase;
                color: #D67F33;
                margin-bottom: 10px;
            }

            &-desc {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
            }


            &:nth-child(1) {
                position: relative;
                padding: 52px 66px 52px 27px;
                border-radius: 82.0789px 82.0789px 0px 82.0789px;
                z-index: 5;
            }

            &:nth-child(2) {
                position: relative;
                padding: 36px 22px 36px 22px;
                border-radius: 82.0789px 82.0789px 82.0789px 0px;
                z-index: 5;
            }

            &:nth-child(3) {
                position: relative;
                padding: 40px 22px 40px 22px;
                border-radius: 82.0789px 0px 82.0789px 82.0789px;
                z-index: 5;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    width: 208px;
                    height: 208px;
                    transform: translate(50%, -50%);
                    border-radius: 50%;
                    z-index: -1;
                    background: #446DA9;
                    filter: blur(78.11px);
                }

            }

            &:nth-child(4) {
                position: relative;
                padding: 40px 22px 40px 22px;
                border-radius: 0px 82.0789px 82.0789px 82.0789px;
                z-index: 5;
            }
        }
    }

    .benefits-picture {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 180px;
            height: 180px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
            background: #D67F33;
            filter: blur(71px);
        }

        &__img {
            display: block;
            width: 100%;
            max-width: 666px;
        }
    }
}


@media screen and (max-width: 992px) {
    .benefits-autor {
        .benefits-picture {
            display: none;
        }
    }
}

@media screen and (max-width: 568px) {
    .benefits-autor {
        padding: 0px;

        .benefits-content {
            justify-content: center;
            max-width: 100%;
            gap: 17px 10px;

            &__item {
                max-width: 156px;

                &-title {
                    font-size: 25px;
                }

                &-desc {
                    font-size: 16px;
                    font-size: 16px;
                    word-break: break-all;
                }

                &:nth-child(1) {
                    padding: 30px 24px 30px 27px;
                    border-radius: 66.0789px 66.0789px 0px 66.0789px;
                }

                &:nth-child(2) {
                    padding: 30px 22px 30px 22px;
                    border-radius: 66.0789px 66.0789px 66.0789px 0px;

                    &::after {
                        content: "";
                        position: absolute;
                        right: 0%;
                        top: 0%;
                        width: 108px;
                        height: 108px;
                        transform: translate(0%, -25%);
                        border-radius: 50%;
                        z-index: -1;
                        background: rgb(68, 109, 169);
                        filter: blur(47.11px);
                    }
                }

                &:nth-child(3) {
                    padding: 30px 22px 30px 22px;
                    border-radius: 66.0789px 0px 66.0789px 66.0789px;


                    &::after {
                        content: "";
                        position: absolute;
                        left: 0%;
                        top: 0%;
                        width: 108px;
                        height: 108px;
                        transform: translate(0%, -25%);
                        border-radius: 50%;
                        z-index: -1;
                        background: rgb(68, 109, 169);
                        filter: blur(47.11px);
                    }
                }

                &:nth-child(4) {
                    padding: 30px 22px 30px 22px;
                    border-radius: 0px 66.0789px 66.0789px 66.0789px;
                }
            }
        }
    }
}