.benefits-list {
    position: relative;
    padding: 50px 0 150px;



    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;

        &::after {
            content: "";
            position: absolute;
            left: 0%;
            top: 0%;
            width: 140px;
            height: 140px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
            background: #D67F33;
            filter: blur(100px);
        }
    }

    &__content {
        position: relative;
        width: 100%;
        max-width: calc(50% - 10px);
        padding-top: 30px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #D67F33;
            border-radius: 5px;
        }
    }

    &__list {

        &-hidden {
            margin-top: 20px;
        }

        &-item {
            position: relative;
            padding-left: 30px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

            span {
                font-weight: 700;
            }

            &::after {
                content: "";
                position: absolute;
                border-radius: 50%;
                top: 0px;
                left: 0;
                width: 20px;
                height: 20px;
                background: radial-gradient(68.81% 68.81% at 66.31% 32.85%, #FFC490 0%, #F0903B 60.07%, #D67F33 100%);
            }

            &::before {
                content: "";
                position: absolute;
                left: 10px;
                top: 0;
                width: 1px;
                height: 110%;
                background: #fff;
                transform: translateY(12px);
            }


            &:last-child {
                &::before {
                    display: none;
                }
            }
        }

        &-item+.benefits-list__list-item {
            margin-top: 20px;
        }
    }

    .benefits-picture {
        display: none;
    }
}


@media screen and (max-width: 992px) {
    .partner-litvin {
        padding-top: 0;
    }

    .litvion-title {
        font-weight: 700;
        font-size: 20px;
        color: #D67F33;
    }


    .benefits-list {
        padding: 60px 0;

        overflow: hidden;

        &__wrapper {
            flex-wrap: wrap;

            &::after {
                top: 20%;
                width: 70px;
                height: 70px;
                transform: translate(-20%, -20%);
                background: #D67F33;
                filter: blur(40px);
            }

            &::before {
                content: "";
                position: absolute;
                right: 0%;
                top: 50%;
                width: 140px;
                height: 140px;
                transform: translate(50%, -50%);
                border-radius: 50%;
                z-index: -1;
                background: #446DA9;
                filter: blur(100px);
            }
        }

        &__content {
            max-width: 100%;
            padding: 28px 0 24px;
        }

        &__list {
            &-item {
                padding-left: 30px;
                font-size: 16px;
            }

            &-hidden {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease-out;
                margin-top: 20px;
            }
        }

        // &__content {
        //     margin: 24px 0;
        // }

        .benefits-picture {
            display: block;
            width: fit-content;
            margin: 12px auto 0;

            &__img {
                display: block;
                width: 100%;
            }
        }
    }

    .triger-list {
        padding-right: 20px;

        &::before {
            transition: all 0.5s;
            height: 0;
        }
    }

    .triger-list.active {
        &::before {
            height: 110%;
        }

        .triger-list__plus {
            &::before {
                opacity: 0;
            }
        }
    }


    .triger-list__plus {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 2px;
            background: #D67F33;
            transform: translate(-50%, -50%) rotate(90deg);
            transition: all 0.5s;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 2px;
            background: #D67F33;
            transform: translate(-50%, -50%);
        }
    }
}