.donate {
    background: #D67F33;
    padding: 8px 0;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        position: relative;
        font-weight: 900;
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-right: 30px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 25px;
            height: 20px;
            background-image: url('@img/ua.png');
            background-size: cover;
            background-position: center;
            z-index: 20;
            transform: translate(-140%, -50%);
            border-radius: 5px;
        }
    }

    &__btn {
        display: block;
        color: #fff;
        padding: 5px 60px 10px;
        background: #101E32;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}


@media screen and (max-width: 992px) {
    .donate {

        &__title {
            text-align: center;
            font-size: 22px;
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 568px) {

    .donate {
        padding: 15px 0 8px;

        &__wrapper {
            flex-direction: column;
        }

        &__title {
            margin-right: 0;
            font-size: 20px;
        }

        &__btn {
            padding: 5px 30px 10px;
            font-size: 16px;
            margin-top: 10px;
        }

    }

}