.expertise {
    position: relative;
    padding: 0 0 50px;
    overflow: hidden;


    &::before {
        content: "";
        position: absolute;
        right: 15%;
        top: 10%;
        width: 70px;
        height: 70px;
        // transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
        background: #D67F33;
        filter: blur(33.11px);
    }

    .title-transparent {
        text-align: right;
        margin-bottom: 100px;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 80%;
        background: #133669;
        border-top-left-radius: 100px;
        z-index: -1;
    }

    &__title {
        margin-bottom: 80px;
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;


        &::before {
            content: "";
            position: absolute;
            right: 40%;
            top: 30%;
            width: 170px;
            height: 170px;
            transform: translate(0%, -60%);
            border-radius: 50%;
            z-index: -1;
            background: #D67F33;
            filter: blur(123.212px);
        }
    }

    &__content {
        width: 100%;
        max-width: calc(50% - 20px);
    }

    &__box {
        display: flex;

        &-number {
            width: 100%;
            max-width: 64px;
            padding: 10px 15px;
            background: #FFFFFF;
            border-radius: 10px;
            font-weight: 900;
            font-size: 54px;
            margin-right: 30px;
            text-align: center;
            line-height: 100%;
            color: #D67F33;
        }

        &-title {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            margin-bottom: 10px;
            color: #D67F33;
        }

        &-desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
        }
    }

    &__box+.expertise__box {
        margin-top: 35px;
    }
}

.title-carousel__biographies {
    padding: 100px 0;
}

.expertise-mobail {
    display: none;
}

@media screen and (max-width: 568px) {
    .expertise-mobail {
        display: block;
    }


    .expertise {
        padding-top: 50px;
        padding-bottom: 0;

        &::before {
            top: 15%;
        }

        &::after {
            width: 80%;
            height: 65%;
        }

        &__title {
            margin-bottom: 40px;
        }

        .title-transparent {
            font-weight: 700;
            font-size: 30px;
            text-align: left;
            margin-bottom: 11px;
        }

        &__box {
            position: relative;
            padding: 30px 25px;
            height: 140px;
            background: #FFFFFF;
            border-radius: 10px;
            color: #101E32;

            &:nth-child(2) {
                display: none;
            }

            &-number {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 100%;
                max-width: fit-content;
                padding: 0;
                background: none;
                border-radius: 0;
                font-weight: 900;
                font-size: 30px;
                line-height: 20px;
                margin-right: 0px;
                line-height: 100%;
                color: rgba(214, 127, 51, 0.3);
            }

            &-desc {
                font-size: 15px;
            }

            &-title {
                font-size: 16px;
            }
        }

        &__box+.expertise__box {
            margin-top: 0;
            margin-left: 20px;
        }

        &__wrapper {
            display: none;
        }

        .swiper-pagination {
            bottom: 3px;
        }

        .swiper-business {
            padding-bottom: 30px;
        }
    }

    .title-carousel__biographies {
        position: relative;
        padding: 60px 0;

        &::after {
            position: absolute;
            content: '';
            left: 50%;
            bottom: 20px;
            width: 15px;
            height: 15px;
            background-image: url('@img/link-bottom.svg');
            background-size: contain;
        }
    }

    .player-list__box-video {
        height: 180px;
    }
}




@media screen and (max-width: 358px) {
    .expertise {
        &__box {
            padding: 40px 15px 20px;
        }
    }

    .social.litvion-social {
        .social-box__content {
            // .social-box__content-title {
            //     margin-bottom: 24px;
            //     text-align: center;
            // }

            .social-box__content-text {
                padding-right: 100px;
            }

            &::after {
                transform: translateY(50%);
                right: 10px;
            }
        }
    }

    .benefits-autor {
        .benefits-content {
            gap: 5px 5px;

            &__item {
                max-width: 150px;
            }
        }
    }
}