.player-list {
    position: relative;
    padding-bottom: 90px;

    &::after {
        content: "";
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 180px;
        height: 180px;
        transform: translate(40%, 20%);
        border-radius: 50%;
        z-index: -1;
        background: #446DA9;
        filter: blur(78.11px);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        width: 100%;
        max-width: 550px;

        &-item {
            position: relative;
            padding-left: 30px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;


            &::after {
                content: "";
                position: absolute;
                border-radius: 50%;
                top: 0px;
                left: 0;
                width: 20px;
                height: 20px;
                background: radial-gradient(68.81% 68.81% at 66.31% 32.85%, #FFC490 0%, #F0903B 60.07%, #D67F33 100%);
            }

            &::before {
                content: "";
                position: absolute;
                left: 10px;
                top: 0;
                width: 1px;
                height: 110%;
                background: #fff;
                transform: translateY(24px);
            }


            &:last-child {
                &::before {
                    display: none;
                }
            }
        }

        &-item+.player-list__content-item {
            margin-top: 25px;
        }
    }

    &__box {
        width: 100%;
        max-width: 555px;

        &-video {
            display: block;
            width: 100%;
            border-radius: 15px;
        }
    }
}



@media screen and (max-width: 992px) {

    .player-list {
        padding: 70px 0 60px;

        &::after {
            content: "";
            position: absolute;
            left: 20%;
            bottom: 0%;
            width: 100px;
            height: 100px;
            transform: translate(0%, 0%);
            border-radius: 50%;
            z-index: -1;
            background: #446DA9;
            filter: blur(78.11px);
        }

        &__wrapper {
            flex-wrap: wrap;
        }

        &__content {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;

            &-item {
                padding-left: 30px;
                font-size: 16px;
            }
        }


    }
}