.promo-biographies {
    height: 100vh;
    background-image: url('@img/promo.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        width: 100%;
        max-width: 560px;
        margin-top: 25vh;

        &-title {
            position: relative;
            font-weight: 900;
            font-size: 40px;
            line-height: 100%;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 15px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: fit-content;
                top: -15px;
                width: 50%;
                height: 4px;
                background: #D67F33;
            }
        }

        .box-button {
            width: 100%;
            max-width: 256px;
        }

        &-desc {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            margin-bottom: 62px;
        }

        &-start {
            font-weight: 500;
            font-size: 18px;
            color: #D67F33;
            margin-bottom: 16px;
        }

        &-btn {
            width: 100%;
            text-transform: uppercase;
        }
    }
}




.title-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.title-carousel__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-animation: animatedBackground 25s linear infinite;
    animation: animatedBackground 25s linear infinite;

    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    border-bottom: 1px solid rgba(255, 255, 255, 0.47);
}

.title-carousel__elem {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    padding: 0 26px 0 26px;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    text-transform: uppercase;
    color: #D67F33;
}

@keyframes animatedBackground {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}




@media screen and (max-width: 568px) {
    .promo-biographies {
        height: 620px;
        background-image: url('@img/mobail-promo.jpg');
        background-position: 0 -25px;

        .header {
            padding: 20px 0 0px;

            .logo {
                max-width: 130px;

            }
        }

        &__content {
            margin-top: 60px;


            &-title {
                text-align: center;
                font-size: 22px;
                margin-bottom: 8px;


                &::after {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &-desc {
                font-size: 16px;
                margin-bottom: 10px;
                text-align: center;
                width: 100%;
                max-width: 290px;
                margin: 0 auto 10px;
            }

            &-start {
                font-size: 16px;
                margin-bottom: 12px;
                text-align: center;
            }

            &-btn {
                text-align: center;
            }

            .box-button {
                margin: 0 auto;
            }
        }
    }

    .title-carousel__inner {
        padding: 16px 0;
    }

    .title-carousel {
        &__elem {
            padding: 0 16px 0 16px;
            font-size: 20px;
        }
    }

}